


%ul{:class=>"nav nav-tabs", :id=>"myTab"}
	%li{:class=>"active"}
		%a{:href => "#home",:data=>{:toggle=>"tab"}} Dynamic event
		
	%li
		%a{:href => "#profile", :data=>{:toggle=>"tab"}}fixed event

  
%div{:class=>"tab-content"}
	%div{:class=>"tab-pane active", :id=>"home"}
		=form_for [:user,@event] do |f|
			=f.label :name
			=f.text_field :name	

			=f.label :priority
			=f.text_field :priority

			=f.label :datetime_start
			=f.text_field :datetime_start

			=f.label :datetime_end
			=f.text_field :datetime_start

			=f.label :min_task_minutes
			=f.text_field :min_task_minutes

			=f.submit 'Dodaj Wydarzenie', :class => 'btn'
	%div{:class=>"tab-pane",:id=>"profile"} gowno
	%div{:class=>"tab-pane",:id=>"messages"}
	%div{:class=>"tab-pane" ,:id=>"settings"}
	