<div class="masthead">
  <h3 class="muted">Task Manager</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li <% if current_page? root_path %> class="active" <% end %>><a href="#">Pulpit</a></li>
          <li <% if current_page? user_events_path %> class="active" <% end %>><a href="<%= url_for user_events_path %>">Zadania</a></li>
          <li <% if current_page? user_calendar_path %> class="active" <% end %>><a href="<%= url_for user_calendar_path %>">Kalendarz</a></li>
          <li <% if current_page? user_settings_path %> class="active" <% end %>><a href="<%= url_for user_settings_path %>">Ustawienia</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>

<%= render :partial => '/layouts/notifications' %>