<div class="masthead">
  <h3 class="muted">Task Manager</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="#">Pulpit</a></li>
          <li><a href="#">Zadania</a></li>
          <li><a href="#">Kalendarz</a></li>
          <li><a href="#">Ustawienia</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>